page-start {
    

    .picture {
       
        height: 25%;
         width:100%;
         display:block;
         }
         
         
     .header {
         color: #dd0c0c;
         font-family: "azo-sans-web",sans-serif;
         font-size: 40px;
         font-weight: bold;
         margin-top: 0px;
         padding-top: 0px;
       }
       .header2 {
         color: #dd0c0c;
         font-family: "azo-sans-web",sans-serif;
         font-size: 25px;
         font-weight: bold;
         margin-top: 10px;
         padding-top: 10px;
       }

       .label-md[stacked] {         //Input-Labels
        font-size: 17px;
    }
        .label-ios[stacked] {
        margin-bottom: 4px;
        font-size: 17px;
        }
     
      .no_padding_margin {
          padding: 0px;
          margin: 0px;
      } 
     .button_max_width {
         width: 100%;
     }

     .max_height {              //max height for toolbar-conten in footer!
         height: 30px;
     }
     .no_margin {
         margin: 0px;
     }
     
     .margin {
         margin: 20px;
     }

     .toolbar-content-md {
         height: 100%;
     }
     
     
}
