page-home{
 
.picture {
       
   height: 25%;

    width:100%;
    display:block;
    }
    
    
.header {
    color: #dd0c0c;
    font-family: "azo-sans-web",sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 0px;
  }
  .header2 {
    color: #dd0c0c;
    font-family: "azo-sans-web",sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 10px;
  }

 .item_no_padding {
     padding:0px;
 } 
.button {
    width: 100%;
}
.no_margin {
    margin: none;
}


.margin {
    margin: 20px;
}

  
.list {
    display: flex;
  flex-wrap: wrap;
}

.list_item {
    display: flex; 
  padding: 0.5em;
    width: 100%;
    
}
.list_content {
    background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1em;
    width: 100%;
}

}
