.no_padding_margin {
    padding: 0px;
    margin: 0px;
} 
.button_max_width {
   width: 100%;
}

.max_height {              //max height for toolbar-conten in footer!
   height: 30px;
}
.no_margin {
   margin: 0px;
}

.margin {
   margin: 20px;
}

#header {
    font-family: "azo-sans-web",sans-serif;
    font-size: 23px;
    font-weight: bold;
}

.toolbar-md {
    border-bottom-color: rgb(134, 2, 2);
    padding-bottom: 0px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}