page-popover-abt {

   
    .popover-content { 
        top: 60px;
        left: 5px;
        transform-origin: left top 0px;
        border-radius: 10px;
        width: 200px;
        min-width: 0;
        min-height: 0;
        max-height: 90%;
        color: #000;
        background: #fff;
    }
    
}
